.card {
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    margin: 10px 0;
    max-width: 100%;
}

.card-header {
    background: #dddddd;
    min-height: 50px;
    border-bottom: 1px solid #d5d5d5;
}
